@page "/settings"
@using System.Collections.ObjectModel
@inject MySettingsRepo MySettingsRepo
@inject NotificationService NotificationService
@inject NavigationManager Nav

<h1 class="text-decoration-underline fw-bold text-light mb-3">صفحة الإعدادات</h1>
<EditForm Model="settings" OnValidSubmit="SubmitFormAsync">
    <DataAnnotationsValidator/>

    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 22px; margin-bottom:10px;">خط الطول رقم</label>
                <InputNumber @bind-Value="settings.Latitude" class="form-control bg-secondary bg-opacity-50 text-light fw-bold" style="font-size: 22px;" placeholder="خط الطول رقم"/>
                <ValidationMessage For="()=>settings.Latitude"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 22px; margin-bottom:10px;">دائرة العرض رقم</label>
                <InputNumber @bind-Value="settings.Longitude" class="form-control bg-secondary bg-opacity-50 text-light fw-bold" style="font-size: 22px;" placeholder="دائرة العرض رقم" />
                <ValidationMessage For="() => settings.Longitude" />
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 22px; margin-bottom:10px;">طريقة الحساب</label>
                <InputSelect TValue="CalculationMethod?" @bind-Value="settings.MyCalculationMethode" class="form-select bg-secondary bg-opacity-50 text-light fw-bold">
                    @foreach(var meth in Enum.GetValues(typeof(CalculationMethod)))
                    {
                        <option value="@meth">@(meth.ToString())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => settings.MyCalculationMethode" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 22px; margin-bottom:10px;">المذهب لحساب وقت العصر</label>
                <InputSelect TValue="Madhab?" @bind-Value="settings.MyMadhab" class="form-select bg-secondary bg-opacity-50 text-light fw-bold">
                    @foreach (var madhab in Enum.GetValues(typeof(Madhab)))
                    {
                        <option value="@madhab">@(madhab.ToString())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => settings.MyMadhab" />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 22px; margin-bottom:10px;">إسم المسجد</label>
                <InputText @bind-value="settings.DesMasjid" class="form-control bg-secondary bg-opacity-50 text-light fw-bold" style="font-size: 20px;" placeholder="إسم المسجد" />
                <ValidationMessage For="() => settings.DesMasjid" />
            </div>
        </div>
        
        <div class="col-6">
            <div class="form-group">
                <label style="color: lightgrey; font-size: 22px; margin-bottom:10px;">المجال الزمني لمدينتك</label>
                <InputSelect TValue="string" @bind-Value="settings.TimeZoneId" class="form-select bg-secondary bg-opacity-50 text-light fw-bold">
                    @foreach (var tz in timeZones)
                    {
                        <option value="@tz.Id">@(tz.DisplayName)</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => settings.TimeZoneId" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit">
                <img src="images/checkmark.png" style="width: 20px"/>
                <span class="fw-bolder text-light" style="font-size: 22px;">حفظ الإعدادات</span>
            </button>
        </div>
    </div>
</EditForm>


@code {
    private SettingsVm? settings = new();
    private ReadOnlyCollection<TimeZoneInfo>? timeZones;

    protected override async Task OnInitializedAsync()
    {
        settings = await MySettingsRepo.GetSettingAsync();
        timeZones = TimeZoneInfo.GetSystemTimeZones();
    }

    private async Task SubmitFormAsync()
    {
        try
        {
            await MySettingsRepo.SetSettingAsync(settings);
        }
        catch
        {
            NotificationService.Notify(NotificationSeverity.Error, "حدث خطأ في حفظ المعلومات", "");
            return;
        }
        NotificationService.Notify(NotificationSeverity.Success, "تم حفظ المعلومات بنجاح", "");
        Nav.NavigateTo("/");

    }


}
