@inject MySettingsRepo MySettingsRepo
<div class="card rounded-5">
    <div class="card-header">
            <h1 class="card-title text-warning fw-bolder text-center">
                <img src="images/adhan128.png" style="width:46px"/>
                مواقيت الآذان
            </h1>
    </div>

    <div class="card-body">
        <RadzenRow Style="margin-bottom: -24px;" class="@(nextPrayerName == "FAJR" ? "bg-success-subtle border-danger border border-3 rounded rounded-4" : "")">
            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-4">
                        <img src="images/mosque.png" style="width:36px" />
                    </div>

                    <div class="col-8">
                        <h2 class="fw-bolder text-success">الفجر</h2>
                    </div>                                        
                </div>                
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@fadjr.ToString("HH:mm")</h2>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-3">
                        <img src="images/shalat.png" style="width:36px" />
                    </div>

                    <div class="col-9">
                        <h2 class="fw-bolder text-success">الإقامة</h2>
                    </div>
                </div>                                        
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@fadjrIkama.ToString("HH:mm")</h2>
            </RadzenColumn>
        </RadzenRow>

        <hr style="color: slateblue;" />

        <RadzenRow Style="margin-bottom: -24px;" class="@(nextPrayerName == "DHUHR" ? "bg-success-subtle border-danger border border-3 rounded rounded-4" : "")">
            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-4">
                        <img src="images/mosque.png" style="width:36px" />
                    </div>

                    <div class="col-8">
                        <h2 class="fw-bolder text-success">الظهر</h2>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@dohr.ToString("HH:mm")</h2>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-3">
                        <img src="images/shalat.png" style="width:36px" />
                    </div>

                    <div class="col-9">
                        <h2 class="fw-bolder text-success">الإقامة</h2>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@dohrIkama.ToString("HH:mm")</h2>
            </RadzenColumn>
        </RadzenRow>

        <hr style="color: slateblue;" />


        <RadzenRow Style="margin-bottom: -24px;" class="@(nextPrayerName == "ASR" ? "bg-success-subtle border-danger border border-3 rounded rounded-4" : "")">
            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-4">
                        <img src="images/mosque.png" style="width:36px" />
                    </div>

                    <div class="col-8">
                        <label class="fw-bolder fs-3 text-success">العصر</label>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@asr.ToString("HH:mm")</h2>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-3">
                        <img src="images/shalat.png" style="width:36px" />
                    </div>

                    <div class="col-9">
                        <h2 class="fw-bolder text-success">الإقامة</h2>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@asrIkama.ToString("HH:mm")</h2>
            </RadzenColumn>
        </RadzenRow>

        <hr style="color: slateblue;" />

        <RadzenRow Style="margin-bottom: -24px;" class="@(nextPrayerName == "MAGHRIB" ? "bg-success-subtle border-danger border border-3 rounded rounded-4" : "")">
            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-4">
                        <img src="images/mosque.png" style="width:36px" />
                    </div>

                    <div class="col-8">
                        <label class="fw-bolder fs-3 text-success">المغرب</label>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@maghreb.ToString("HH:mm")</h2>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-3">
                        <img src="images/shalat.png" style="width:36px" />
                    </div>

                    <div class="col-9">
                        <h2 class="fw-bolder text-success">الإقامة</h2>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@maghrebIkama.ToString("HH:mm")</h2>
            </RadzenColumn>
        </RadzenRow>

        <hr style="color: slateblue;" />

        <RadzenRow Style="margin-bottom: -24px;" class="@(nextPrayerName == "ISHA" ? "bg-success-subtle border-danger border border-3 rounded rounded-4" : "")">
            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-4">
                        <img src="images/mosque.png" style="width:36px" />
                    </div>

                    <div class="col-8">
                        <label class="fw-bolder fs-3 text-success">العشاء</label>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@isha.ToString("HH:mm")</h2>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <div class="row">
                    <div class="col-3">
                        <img src="images/shalat.png" style="width:36px" />
                    </div>

                    <div class="col-9">
                        <h2 class="fw-bolder text-success">الإقامة</h2>
                    </div>
                </div>
            </RadzenColumn>

            <RadzenColumn Size="3">
                <h2 class="bg-primary text-light rounded rounded-5 border border-3 fw-bolder p-1">@ishaIkama.ToString("HH:mm")</h2>
            </RadzenColumn>
        </RadzenRow>
    </div>
</div>

@code{
    [Parameter]
    public PrayerTimes? prayersTimes { get; set; }

    [Parameter]
    public string? nextPrayerName { get; set; }

    private DateTime fadjr ;
    private DateTime dohr ;
    private DateTime asr ;
    private DateTime maghreb ;
    private DateTime isha ;

    private DateTime fadjrIkama ;
    private DateTime dohrIkama ;
    private DateTime asrIkama ;
    private DateTime maghrebIkama ;
    private DateTime ishaIkama ;

    [Parameter]
    public MySetting? settings{ get; set; } = new();


    protected override async Task OnParametersSetAsync()
    {
        // var coordinates = new Coordinates(settings!.Latitude??0.0, settings!.Longitude??0.0);
        // Madhab madhab = settings.MyMadhab?? new();
        // CalculationMethod calcMethod = settings.MyCalculationMethode?? new();        
        // CalculationParameters parameters = CalculationMethodExtensions.GetParameters(calcMethod);
        // parameters.Madhab = madhab;
        // var myDate = new DateComponents(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
        // prayersTimes = new PrayerTimes(coordinates, myDate,parameters);
        string timez = settings.TimeZoneId;
        fadjr = TimeConvertToLocal.ConvertToLocal(prayersTimes.Fajr, timez);
        dohr = TimeConvertToLocal.ConvertToLocal(prayersTimes.Dhuhr, timez);
        asr = TimeConvertToLocal.ConvertToLocal(prayersTimes.Asr, timez);
        maghreb = TimeConvertToLocal.ConvertToLocal(prayersTimes.Maghrib, timez);
        isha = TimeConvertToLocal.ConvertToLocal(prayersTimes.Isha, timez);

        fadjrIkama = fadjr.AddMinutes(settings.FadjWait);
        dohrIkama = dohr.AddMinutes(settings.DohrWait);
        asrIkama = asr.AddMinutes(settings.AsrWait);
        maghrebIkama = maghreb.AddMinutes(settings.MoghrebWait);
        ishaIkama = isha.AddMinutes(settings.IshabWait);
    }
}